body {
    font-family: 'Nunito', sans-serif;
}
.main {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.main h3 {
    padding: 10px 10px 0 10px;
}
.main ul {
    padding-left: 0;
    list-style: none;
}
.main li {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.main p {
    padding: 0;
    margin: 0;
}
.main li:nth-child(even){
    background: #718096;
}
.main li:first-child p{
    text-decoration: underline;
    font-weight: bold;
}